* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #111d13;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
.usuario {
    background-color: #415d43;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: row;
    margin: 20px 5px;
    border: 2px groove wheat;
    border-radius: 10px;
}

.usuario img {
    width: 150px;
    height: auto;
    border-radius: 5px;
    margin-right: 5px;
}

.usuario .iconos {
    background-color: rgb(62, 118, 190);
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

.usuarios .datos {
    width: 100%;
    height: 250px;
    margin-left: 10px;
}

i{
    padding: 5px;
    color: rgb(170, 115, 221);
}